{{/* extends "layout.html" */}}

{{ define "SubTitle" }} Home {{ end }}

{{ define "Content" }}
    <section>
        {{ $page := .Page }}

        {{ range $i, $post := .Posts }}
        {{ if paginate $i 5 $page }}
        <article>
            {{ if .Featured_Image }}
                <img src="/media/{{ .Featured_Image }}" />
            {{ end }}
            <header>
                {{ if .Tags }}
                <div class="tags">
                    {{ range .Tags }}
                    <a href="{{ .Href }}">{{ .Name }}</a>
                    {{ end }}
                </div>
                {{ end }}
                <h2><a href="{{ .Href }}">{{ .Title }}</a></h2>
            </header>
            <summary>
                {{ excerpt . }}
            </summary>
            <footer>
                {{ if .Authors }}
                <span class="author">
                    By
                    {{ range .Authors }}
                    <a href="{{ .Href }}">{{ .Name }}</a>
                    {{ end }}
                </span>
                {{ end }}
                <time>
                    {{ format .Published_At "2 Jan 2006" }}
                </time>
                <span class="spacer"></span>
            </footer>
        </article>
        {{ end }}
        {{ end }}

        <nav>
            {{ if gt .Page 0 }}
                <a href="{{ prev_href .Page }}">Newer posts</a>
            {{ end }}

            <span class="spacer"></span>

            {{ if next_exist .Posts 5 .Page }}
                <a href="{{ next_href .Page }}">Older posts</a>
            {{ end }}
        </nav>
    </section>
{{ end }}
