{{/* extends "layout.html" */}}

{{ define "SubTitle" }} {{ .Post.Title }} {{ end }}

{{ define "Content" }}

    <article>
        <header>
            <span class="tags tags-post">
                {{ if .Post.Tags }}
                    {{ range .Post.Tags }}
                        <a href="{{ .Href }}">{{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </span>
            <h2><a href="{{ .Post.Href }}">{{ .Post.Title }}</a></h2>
        </header>
        <div class="metadata">
            <span class="author">
                By
                {{ range .Post.Authors }}
                    <a href="{{ .Href }}">{{ .Name }}</a>
                {{ end }}
        </span>
            <time>
                {{ format .Post.Published_At "2 Jan 2006" }}
            </time>
        </div>
        <content>
            {{ plain .Post.Html }}
        <content>
    </article>

{{ end }}
