{{/* extends "layout.html" */}}

{{ define "SubTitle" }} Search: {{ .SearchTerms }} {{ end }}

{{ define "Content" }}
    {{ $page := .Page }}

    <p class="intro">The search for "{{ .SearchTerms }}" returned {{ .ResultNumber }} results:</p>

    <section>
        {{ range $i, $result := .Results }}
            {{ if paginate $i 10 $page }}
                <article>
                    {{ if .Post.Featured_Image }}
                        <img src="/media/{{ .Post.Featured_Image }}" />
                    {{ end }}
                    <header>
                        <span class="tags">
                            {{ range .Post.Tags }}
                                <a href="{{ echo .Href }}">{{ echo .Name }}</a>
                            {{ end }}
                        </span>
                        <h2>
                            <a href="{{ .Post.Href }}">{{ .Post.Title | plain }}</a>
                        </h2>
                    </header>
                    <summary>
                        {{ excerpt .Post | plain }}
                    </summary>
                    <footer>
                        <span class="author">
                            By
                            {{ range .Post.Authors }}
                                <a href="{{ echo .Href }}">{{ echo .Name }}</a>
                            {{ end }}
                        </span>
                        <time>
                            {{ format .Post.Published_At "2 Jan 2006 - 15:04" }}
                        </time>
                        <span class="spacer"></span>
                        <span>Score: {{ printf "%.2f" .Score }}</span>
                    </footer>
                </article>
            {{ end }}
        {{ end }}
    </section>
    
    <nav>
        {{ if gt .Page 0 }}
            <a href="{{ prev_href .Page }}&terms={{ echo .SearchTerms }}">Prev</a>
        {{ end }}

        <span class="spacer"></span>

        {{ if next_exist .Results 10 .Page }}
            <a href="{{ next_href .Page }}&terms={{ echo .SearchTerms }}">Next</a>
        {{ end }}
    </nav>

{{ end }}
