{{/* extends "layout.html" */}}

{{ define "SubTitle" }} Search: {{ echo .SearchTerms }} {{ end }}

{{ define "Content" }}
    {{ $page := .Page }}

    A search for "{{ echo .SearchTerms }}" returned {{ .ResultNumber }} results
    {{ range $i, $result := .Results }}
        {{ if paginate $i 10 $page }}
            <article>
                <header>
                    <a href="{{ echo .Post.Href }}">
                        <h2 style="font-weight: normal;">{{ .Post.Title | plain }}</h2>
                    </a>
                    <span>Score: {{ printf "%.2f" .Score }}</span>
                    <div>
                        <span>
                            {{ range .Post.Tags }}
                                <a href="{{ echo .Href }}">{{ echo .Name }}</a>
                            {{ end }}
                        </span>
                        <span>
                            {{ range .Post.Authors }}
                                <a href="{{ echo .Href }}">{{ echo .Name }}</a>
                            {{ end }}
                        </span>
                        <span>
                            {{ format .Post.Published_At "2 Jan 2006 - 15:04" }}
                        </span>
                    </div>
                </header>
                <content>
                    {{ excerpt .Post | plain }}
                <content>
            </article>
        {{ end }}
    {{ end }}

    {{ if gt .Page 0 }}
        <a href="{{ prev_href .Page }}&terms={{ echo .SearchTerms }}">Prev</a>
    {{ end }}

    {{ if next_exist .Results 19 .Page }}
        <a href="{{ next_href .Page }}&terms={{ echo .SearchTerms }}">Next</a>
    {{ end }}

{{ end }}
